.text-space {
    letter-spacing: 1px;
}

.text-theme {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
}

.themeproject-container {
display: grid;
    
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}